*{
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
    height: 1000px;
    width: 90%;
    background-color: white;
    text-align: center;
    border-radius: 20px;
    margin-left: 10%;
}
.row1{
    width: 35%;
    background-color: rgb(224, 224, 232);
    /* text-align:left;
    padding-left: 40px; */
}
.row1 img{
    margin-top: 70px;
height: 200px;
width: 200px;
border-radius: 50%;
}
.education{
    margin-top: 30px;
    color:black;
    text-align:left;
    padding-left: 40px;
    }
.skill{
    margin-top: 30px;
color: black;
text-align:left;
    padding-left: 40px;
}
.language{
    margin-top: 30px;
    color: black;
text-align:left;
    padding-left: 40px;
}
.row2{
    background-color:black;
    width: 50%;
    color: aliceblue;}
.name{
    margin-top: 100px;
    margin-left: 20px;
text-align: left;
margin-left: 60px;
}
.summary{
    margin-top: 70px;
    text-align: left;
    padding-left: 40px;
}

.contact{
    margin-top: 70px;
    text-align: left; 
    padding-left: 40px;
}
.experiance{
    margin-top: 70px;
    text-align: left; 
    padding-left: 40px;
}